<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/styles.css"/>
  <title>Home Page</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>


    <h1>Welcome to Shout!</h1>

  <p>Welcome to shout! A webspace where you can come and leave your opinion or SHOUT about your favorite, or not so favorite TV show. Create an account to add shows to "your shows" library and join our community to find friends that love or hate a show, just like you! Find shows recommended to watch!</p>

  <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>
</body>
</html>
<style>
    body {
    background-color: rgb(92, 90, 100);
    color:rgb(26, 22, 29);
}
    h1 {
        text-align: center;
        color: azure;
    }
    a {
       display: flex;
       align-items: flex-end; 
    }
</style>