<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>Add A New Show</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Tv Show to your Favorites</h1>
    <form action="/users/<%=user._id%>/tvshows" method="POST">
      <label for="title">Name of Show:</label>
      <input type="text" name="title" id="title" />
      <label for="title">Rating:</label>
      <input type="number" name="rating" id="rating" />
      <label for="comments">What you think about this show?</label>
      <input type="text" name="comments" id="comments" />
      <label for="didYouLoveIt">Did you love it?</label>
      <input type="checkbox" name="didYouLoveIt" id="didYouLoveIt" />
      <div class="add button">
        <button type="submit">Add To My Shows</button>
      </div>
    </form>
    <div class="pic1">
      <img
        src="https://variety.com/wp-content/uploads/2018/02/good-girls.jpg"
        alt="add page good girls"
      />
    </div>
  </body>
</html>
<style>
  body {
    background-color: rgb(92, 90, 100);
    color: rgb(26, 22, 29);
  }
  h1 {
    text-align: center;
    color: palevioletred;
    padding-top: 5%;
    font-family: monospace;
  }
  form {
    text-align: center;
    padding-top: 4%;
    color: palevioletred;
    font-family: monospace;
    font-size: 17px;
  }
  a {
    color: palevioletred;
    font-family: monospace;
    font-size: 18px;
  }
  img {
    height: 350px;
    width: 450px;
    border-radius: 3px;
    padding-top: 4%;
  }
  .pic1 {
    display: flex;
    justify-content: center;
  }
  .add button {
    color: palevioletred;
    margin-top: 2%;
    font-family: monospace;
    font-size: 17px;
  }
</style>
