<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <title>Community View</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Tv Show Page</h1>


    <% users.forEach((user) => { %>
        <ul>
       <div class="userlink"> <a href="/users/<%= user._id%> "> <%= user.username %></a>  </div>
        </ul>
    
    <% }) %>

</body>
</html>

<style>
    body{
        background-color: rgb(37, 36, 36);
    }
    
    a {
        color: rgb(236, 58, 58);
        padding-left: 1%;
    }
    h1 {
        color: rgb(236, 58, 58);
        text-align: center;
        padding-top: 2%;
    }
    .userlink {
        padding-top: 1%;
    }
</style>