<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>Community View</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community Tv Show Page</h1>
    <p>Check out our community! Click a link below</p>

    <% users.forEach((user) => { %>
    <ul>
      <div class="userlink">
        <a href="/users/<%= user._id%> "> <%= user.username %></a>
      </div>
    </ul>

    <% }) %>
    <div class="img1">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi5MziSkHK-Xj4Mpwn-6UTSbMXgSt9uAEQAQ&usqp=CAU"
        alt="commmunitypage friends"
      />
    </div>
  </body>
</html>

<style>
  body {
    background-color: rgb(37, 36, 36);
  }

  a {
    color: rgb(236, 58, 58);
    padding-left: 1%;
    font-family: cursive;
    font-size: 20px;
  }
  h1 {
    color: rgb(236, 58, 58);
    text-align: center;
    padding-top: 2%;
    font-family: cursive;
    font-size: 40px;
  }
  p {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
  }
  .userlink {
    padding-top: 1%;
    text-align: center;
    font-family: cursive;
    font-size: 35px;
  }
  .img1 {
    display: flex;
    justify-content: center;
  }
  img {
    height: 250px;
    width: 325px;
    border-radius: 6px;
    padding-top: 6%;
  }
</style>
