<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Favorites to watch!</h1>

    <% user.showCase.forEach(item => { %>
        <li> <%= item.title %>
       
        </li>
       <% }) %>



<a href="/users">Back to Community</a>
</body>
</html>
<style>
    body {
        background-color: #c8d7f3;
    }
    li { 
    color: #00246b;
    display: flex;
    justify-content:stretch;
    }
    h1 {
        color: #00246b;
        text-align: center;
        text-decoration:underline 
    }

</style>