<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= user.username %>'s Favorites to watch!</h1>

    <% user.showCase.forEach(item => { %>
        <li> <%= item.title %>
       
        </li>
       <% }) %>



<a href="/users">Back to Community</a>
</body>
</html>
<style>
    body {
        background-color: rgb(37, 5, 5);
    }
    li {
    color: red;
    }
    h1 {
        color: red;
        text-align: center;
        text-decoration: ;
    }

</style>